body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
blockquote {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

html {
  font-size: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  user-select: none;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

body > div#app > div {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

body > div#app > div > div {
  padding: 8px;
  border-top: 0.1px solid #dbdbdb;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}

body > div#app > div > div:nth-child(3n + 2) {
  font-weight: bolder;
}

div.header {
  text-align: center;
}

.right {
  text-align: right;
}

.footer {
  font-size: 0.95rem;
  margin-top: 20px;
  line-height: 20px;
}

.button {
  padding: 10px;
  background-color: #d4d9e2;
  color: #033d60;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
  .button {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .button {
    display: block;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

.print-only {
  display: none;
}
@page {
  size: A4 portrait;
}

/* Estilos para esconder o texto na impressão */
@media print {
  @page {
    size: A4 portrait;
    margin: 0.2cm 0.5cm 0.2cm;
    counter-increment: page;
  }

  header,
  footer {
    display: none;
  }

  html {
    font-size: 13px !important;
    line-height: 1;
  }

  body {
    margin: 0;
    padding: 0;
  }

  body > div#app > div > div {
    padding: 4px;
    border-top: 0.1px solid #7c7c7c;
  }

  .print-only {
    display: block;
  }
  .print-hide {
    display: none;
  }
  h3 {
    margin-top: 20px;
  }
  .page-number {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .page-number:before {
    content: " - ";
  }
  .page-number:after {
    content: counter(page);
  }
}
