<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Lista de Atendimentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
    <style></style>
  </head>

  <body>
    <div class="header">
      <h1>CONGREGAÇÃO CRISTÃ NO BRASIL</h1>
      <h2>LISTA DE ATENDIMENTOS DIVERSOS</h2>
      <u> REGIONAL FAINA</u>
    </div>
    <div id="app">
      <button @click="imprimir()" class="print-hide button">Imprimir</button>
      <template v-for="tipo in tipos" :key="tipo">
        <h3>{{tipo}}</h3>
        <div>
          <template v-for="row in rows.filter(o=>o.Tipo === tipo)" :key="row">
            <div>{{formatData(row)}}</div>
            <div>{{row.Localidade}}</div>
            <div>{{row.Dirigentes + ' '}} {{row["Observações"]}}</div>
          </template>
        </div>
      </template>
    </div>
    <div class="print-only right">
      <p>Lista em:</p>
      <a href="https://ccbfaina.github.io">https://ccbfaina.github.io</a>
    </div>
    <div class="footer">
      <b>
        <i>
          <p>
            Oração Santa Ceia <br />Pão: "Senhor, abençoa este Pão que vamos
            comer, que é a comunhão do Corpo de Cristo."
          </p>
          <p>
            Cálice: "Senhor, abençoa o Cálice que vamos beber, que é a comunhão
            do Sangue de Cristo."
          </p>
        </i>
      </b>
    </div>

    <script>
      const { createApp } = Vue;

      const semanas = ["", "seg", "ter", "qua", "qui", "sex", "sáb", "dom"];
      const DateTime = luxon.DateTime;
      const today = DateTime.now();

      const app = createApp({
        data() {
          return {
            headers: [],
            rows: [],
            tipos: "",
          };
        },
        methods: {
          formatData(row) {
            const d = row.Data;
            try {
              return `${d.toFormat("dd/MM")} ${semanas[d.weekday] || ""} - ${
                row.Hora || "19:30"
              }`;
            } catch (e) {
              console.log("Erro ao formatar data: ", row.Tipo, row.Localidade);
            }
          },
          imprimir() {
            window.print();
          },
        },
        mounted() {
          fetch(
            "https://docs.google.com/spreadsheets/d/e/2PACX-1vQtJLYR89kPMbRAiROVU0Vet4pvLSyH_ReKbJcseWnleD1E6DHIupfjPssTc-GHxHA37CtUI04WtUGJ/pub?gid=0&single=true&output=csv",
            {
              redirect: "follow",
            }
          )
            .then((response) => response.text())
            .then((csvData) => {
              console.log("CSV:: ", csvData);
              const lines = csvData.split("\n");
              this.headers = lines[0].split(",").map((el) => el.trim());
              const result = [];
              for (let i = 1; i < lines.length; i++) {
                const obj = {};
                const currentLine = lines[i].split(",");
                for (let j = 0; j < this.headers.length; j++) {
                  obj[this.headers[j]] = currentLine[j];
                }
                this.rows.push(obj);
              }
              this.rows = this.rows
                .map((row) => {
                  try {
                    if (row.Data) {
                      row.Data = DateTime.fromISO(
                        row.Data.split("/").reverse().join("-")
                      );
                    } else {
                      row.Data = undefined;
                    }
                  } catch (e) {
                    row.Data = undefined;
                    console.log("Erro ao formatar dado: ", e);
                  }
                  return row;
                })
                .filter(
                  (row) =>
                    row.Data === undefined ||
                    row.Data.plus({ days: 1 }).diff(today) > 0
                );

              this.rows.sort((a, b) => {
                if (a < b) return -1;
                if (a > b) return 1;
                return 0;
              });

              this.tipos = [
                ...new Set(this.rows.map((item) => item.Tipo)),
              ].sort();
              console.log(
                "Resultado >>>",
                JSON.parse(JSON.stringify(this.rows))
              );
            })
            .catch((error) => {
              console.error("Erro ao obter o arquivo CSV:", error);
            });
        },
      });

      app.mount("#app");
      // document.addEventListener("keydown", function (event) {
      //   if (event.ctrlKey && /(m|e)/gi.test(event.key)) {
      //     event.stopPropagation();
      //     console.log("Ctrl + M foi pressionado!");
      //     window.open(
      //       "https://docs.google.com/spreadsheets/d/13sjbh4fRi_CiSET4ARbZA3S4pTugDTEOTYMWy8YGr4w/edit#gid=0",
      //       "_blank"
      //     );
      //   }
      // });
    </script>
  </body>
</html>
