@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ol,
ul,
li,
blockquote,
q {
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  quotes: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 13.4px;
}

body {
  -webkit-user-select: none;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-transform: uppercase;
  user-select: none;
}

html,
body,
#app {
  height: 100vh;
}

#app {
  margin: 0 auto;
  max-width: 210mm;
  padding-top: 15px;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  margin: 20px 0 5px;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #000420;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.stretch {
  justify-content: stretch;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.right {
  text-align: right;
  justify-content: flex-end;
}
.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  img {
    width: 30px;
  }
}

.notification {
  background-color: #f8f5d7;
  color: #586019;
  border: 1px solid #ebe5a9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  background-color: #848847;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}

.warn {
  background-color: #f44336;
  color: white;
}

div.header {
  text-align: center;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

td {
  padding: 4px 2px;
}

th {
  background-color: #e6e6e6;
  text-align: center;
  padding: 8px;
}
td:nth-child(1) {
  border-left: 1px solid #ddd;
  text-align: left;
}

.print-only {
  display: none;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0.2cm 0.5cm 0.2cm 0.5cm;
    counter-increment: page;
  }

  html {
    font-size: 12px;
  }

  header,
  footer {
    display: none;
  }

  body {
    line-height: 1;
  }
  a {
    color: #000;
  }

  .print-only {
    display: block;
  }

  .print-hide {
    display: none !important;
  }

  h3 {
    padding: 0;
    font-weight: bold;
    font-size: 15px;
  }

  table {
    page-break-inside: inherit;
    /* page-break-before: always; */
    border: 1px solid #000;
  }
  th {
    border: 0px none;
    padding: 6px;
  }

  td {
    padding: 2px;
    border: 1px solid #000 !important;
  }
}

html {
  overflow-y: scroll;
}
html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}
html ::-webkit-scrollbar-track {
  background: #ededed;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.input-field {
  position: relative;
  margin: 20px 0;
}

.input-field label {
  background-color: white;
  color: rgb(65, 65, 65);
  font-size: 0.8rem !important;
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  top: -5px;
  transition: 0.3s;
}

.input-field input,
.input-field textarea,
.input-field select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
  border-bottom: 1px solid rgb(136, 136, 136);
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: 0px;
  font-size: 14px;
  color: #2196f3;
}

small.suggestion {
  background-color: #c5c4c4;
  border-radius: 4px;
  padding: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  display: inline-flex;
}

.icon {
  width: 23px;
  cursor: pointer;
}
