.hino{padding:6px;overflow-y:auto}.hino-title{margin-top:20px;padding:6px}.hino-verso{margin-top:15px}.hino-coro{display:block;margin-left:20px;padding:0}.hino-content{word-wrap:break-word;line-height:1.6}.hino-search{width:250px}
