<!DOCTYPE html><html  lang="pt-BR"><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Agenda Regional Faina</title>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://accounts.google.com/gsi/client"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Color+Emoji&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
<link rel="stylesheet" href="/_nuxt/entry.C-TS67JR.css" crossorigin>
<link rel="modulepreload" as="script" crossorigin href="/_nuxt/wnGlUSag.js">
<link rel="prefetch" as="style" crossorigin href="/_nuxt/default.GqlhLMaT.css">
<link rel="prefetch" as="style" crossorigin href="/_nuxt/menu.0lHMkiB6.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/Fsh3Mw7J.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/Dm7RZucL.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/1g02pmUr.js">
<link rel="prefetch" as="style" crossorigin href="/_nuxt/form.BKfTuwzp.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/BLbPmCI3.js">
<link rel="prefetch" as="style" crossorigin href="/_nuxt/LoadingSpinner.DGBQ9oP6.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/CXWUK_Jw.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/Dv78AqHR.js">
<link rel="prefetch" as="style" crossorigin href="/_nuxt/landscape.Bm_BmpGR.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/_uqsy6sd.js">
<meta name="description" content="Agenda, Congregação, Atendimentos, Eventos, Faina, Batismo">
<meta name="theme-color" content="#d4d9e2">
<link rel="manifest" href="/manifest.webmanifest">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<script type="module" src="/_nuxt/wnGlUSag.js" crossorigin></script>
<script id="unhead:payload" type="application/json">{"title":"Agenda Regional Faina"}</script></head><body><div id="__nuxt"></div><div id="teleports"></div><script type="application/json" data-nuxt-data="nuxt-app" data-ssr="false" id="__NUXT_DATA__">[{"prerenderedAt":1,"serverRendered":2},1753788887592,false]</script>
<script>window.__NUXT__={};window.__NUXT__.config={public:{piniaPluginPersistedstate:{},gtag:{enabled:true,initMode:"auto",id:"GTM-T2XGPHZ4",initCommands:[],config:{},tags:[],loadingStrategy:"defer",url:"https://www.googletagmanager.com/gtag/js"}},app:{baseURL:"/",buildId:"a4b95ebe-860a-4a47-b45f-dbf0efeff13f",buildAssetsDir:"/_nuxt/",cdnURL:""}}</script></body></html>