.btn-clear[data-v-53031bb7]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-53031bb7]:focus,.btn-clear[data-v-53031bb7]:hover{color:#d32f2f;outline:none}
