.btn-clear[data-v-af339186]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-af339186]:focus,.btn-clear[data-v-af339186]:hover{color:#d32f2f;outline:none}
