.btn-clear[data-v-18f51efd]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-18f51efd]:focus,.btn-clear[data-v-18f51efd]:hover{color:#d32f2f;outline:none}
