.btn-clear[data-v-1e37aaad]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-1e37aaad]:focus,.btn-clear[data-v-1e37aaad]:hover{color:#d32f2f;outline:none}
