.btn-clear[data-v-f85b9a14]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-f85b9a14]:focus,.btn-clear[data-v-f85b9a14]:hover{color:#d32f2f;outline:none}
