.btn-clear[data-v-f5302b0d]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-f5302b0d]:focus,.btn-clear[data-v-f5302b0d]:hover{color:#d32f2f;outline:none}
