.btn-clear[data-v-122cd3ec]{background-color:transparent;border:none;transition:background .2s,color .2s}.btn-clear[data-v-122cd3ec]:focus,.btn-clear[data-v-122cd3ec]:hover{color:#d32f2f;outline:none}
