.layout[data-v-65ee3ff4]{display:grid;grid-template-rows:auto 1fr;height:100dvh}.menu-bar[data-v-65ee3ff4]{z-index:10}.content[data-v-65ee3ff4]{-webkit-user-select:none;-moz-user-select:none;user-select:none}
